<%= form_with(model: game, local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :game_name %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes, id: :game_notes %>
  </div>

  <div class="field">
    <%= form.label :tour_id %>
    <%= collection_select(:game, :tour_id, @tours, :id, :name, {:prompt => true}) %>
  </div>

  <div class="field">
    <%= form.label :venue_id %>
    <%= collection_select(:game, :venue_id, @venues, :id, :name, {:prompt => true}) %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.select :start_time, @start_times%>
  </div>

  <div class="field">
    <%= form.label :day %>
    <%= form.select :day, @days %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
